@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #ffcc00;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.logo:hover {
    color: #ffd700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
